services:
  around-the-world:
    container_name: around-the-world
    image: nginx:1.27-alpine
    ports:
      - "8080:80"
    restart: unless-stopped
    volumes:
      - ./:/usr/share/nginx/html:ro
